{% extends "layout.html" %}

{% block content %}
<div class="content-section">
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">{{ title }}</legend>

            {% for field in form %}
                <div class="form-group">
                    {# Exclude rendering the submit button here, handle it separately #}
                    {% if field.type != 'SubmitField' and  field.name != 'csrf_token' %}
                        {{ field.label(class="form-control-label") }}
                        
                        {# Render the field with appropriate classes based on error state #}
                        {% if field.errors %}
                            {{ field(class="form-control is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in field.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ field(class="form-control") }}
                        {% endif %}
                    {% endif %}
                </div>
            {% endfor %}

            {# Submit button rendering #}
            <div class="form-group">
                {{ form.submit(class="btn btn-primary") }}
            </div>
        </fieldset>
    </form>

    <div class="border-top pt-3 mb-3">
        <small class="text-muted">
            Already have an account? <a class="ml-2" href="{{ url_for('account.login') }}">Sign In</a>
        </small>
    </div>
</div>
{% endblock %}
